@font-face {
  font-family: "GentiumBookBasic";
  src: url(fonts/GenBkBasB.ttf);
}
@font-face {
  font-family: "Myriad Pro";
  src: url(fonts/et-book-roman-line-figures.ttf);
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  position: absolute;
  background: linear-gradient(180deg, black, transparent);
}
.header .img-logo {
  padding-left: 15%;
  height: 50%;
  float: left;
}
.header #icon {
  width: 60px;
  height: auto;
}
.header nav {
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: flex-end;
  width: 100%;
}
.header nav ul {
  display: flex;
}
.header nav ul li {
  font-family: "GentiumBookBasic";
  font-size: 21px;
  color: white;
  list-style-type: none;
  padding: 0 10px;
}
.promo {
  padding-top: 15%;
  padding-bottom: 10%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  background: url("images/promo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.promo #promo-title {
  width: 55%;
  font-family: "YesevaOne";
  font-size: 90px;
  text-align: center;
  color: white;
}
.promo #promo-decoration {
  width: 18%;
  height: 45px;
  margin-top: 25px;
  background: url("images/Decoration.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.promo .button-container {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  width: max-content;
  margin-top: 25px;
}
.promo .button-container #promo-button-left {
  margin-right: 10px;
  width: 230px;
  height: 60px;
  color: #ffffff;
  font-family: "Lato";
  font-size: 18px;
  text-transform: uppercase;
  border: 2px solid #000000;
  background: rgba(0, 0, 0, 0.5);
}
.promo .button-container #promo-button-right {
  width: 230px;
  height: 60px;
  color: #000000;
  font-family: "Lato";
  font-size: 18px;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  background: rgba(255, 255, 255, 0.5);
}
.about {
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: url("images/about.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.about .about-info-container {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .about-info-container .title {
  font-family: "YesevaOne";
  font-size: 36px;
  color: #cc9900;
}
.about .about-info-container .description {
  font-family: "Myriad Pro";
  font-size: 16px;
  color: #000000;
  text-align: center;
}
.about .about-info-container #cook {
  position: relative;
  left: 30px;
}
.about .image-container {
  width: 50%;
  height: 100%;
}
.about .image-container img {
  width: 100%;
  height: 100%;
}
.ingredients {
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: url("images/ingridients.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.ingredients .content {
  width: 40%;
  height: 65%;
  padding-top: 50px;
  margin-right: 5%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}
.ingredients .content .title {
  font-family: "YesevaOne";
  font-size: 36px;
  color: #ffffff;
}
.ingredients .content .description {
  font-family: "Myriad Pro";
  font-size: 16px;
  color: #ffffff;
  width: 60%;
  text-align: center;
}
.ingredients .content .image-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ingredients .content .image-container img {
  margin-left: 10px;
  margin-right: 10px;
}
.menu {
  width: 100%;
  height: 990px;
  background: url("images/menu.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.menu .menu-container {
  width: 30%;
}
.menu .menu-container .menu-section {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}
.menu .menu-container .menu-section .title {
  font-family: "YesevaOne";
  font-size: 36px;
  color: #cc9900;
}
.menu .menu-container .menu-section .item-list {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: flex-start;
  width: 100%;
}
.menu .menu-container .menu-section .item-list .menu-item {
  text-align: left;
  margin-top: 20px;
  padding: 5px 10px;
  width: 100%;
}
.menu .menu-container .menu-section .item-list .menu-item .item-header {
  display: flex;
  justify-content: space-between;
}
.menu .menu-container .menu-section .item-list .menu-item .item-header .sub-title {
  font-family: "YesevaOne";
  font-size: 20px;
  color: #cc9900;
  margin: 0px;
}
.menu .menu-container .menu-section .item-list .menu-item .item-header .coast {
  font-family: "YesevaOne";
  font-size: 20px;
  color: #cc9900;
}
.menu .menu-container .menu-section .item-list .menu-item hr {
  border: 0;
  border-top: 1px solid #cc9900;
  margin: 2px 0;
}
.menu .menu-container .menu-section .item-list .menu-item .description {
  font-family: "Myriad Pro";
  font-size: 14px;
  color: #000000;
  width: 95%;
  margin: 0px;
}
.menu .menu-container .menu-section .item-list .special-item {
  text-align: left;
  margin-top: 20px;
  padding: 5px 10px;
  width: 100%;
  position: relative;
  border-image: linear-gradient(to right, transparent, #cc9900) 19;
  border-width: 1px;
  border-style: solid;
}
.menu .menu-container .menu-section .item-list .special-item .item-header {
  display: flex;
  justify-content: space-between;
}
.menu .menu-container .menu-section .item-list .special-item .item-header .sub-title {
  font-family: "YesevaOne";
  font-size: 20px;
  color: #cc9900;
  margin: 0px;
}
.menu .menu-container .menu-section .item-list .special-item .item-header .coast {
  font-family: "YesevaOne";
  font-size: 20px;
  color: #cc9900;
}
.menu .menu-container .menu-section .item-list .special-item hr {
  border: 0;
  border-top: 1px solid #cc9900;
  margin: 2px 0;
}
.menu .menu-container .menu-section .item-list .special-item .description {
  font-family: "Myriad Pro";
  font-size: 14px;
  color: #000000;
  width: 95%;
  margin: 0px;
}
.menu .menu-container .menu-section .item-list .special-item .marker {
  position: absolute;
  bottom: 100%;
  right: 0%;
  background: #cc9900;
  padding: 2px 4px;
  font-family: "Lato";
  font-size: 12px;
  color: #ffffff;
}
.reviews {
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("images/reviews.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.reviews .content {
  width: 50%;
  height: 50%;
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}
.reviews .content .title {
  font-family: "YesevaOne";
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 2px;
}
.reviews .content .description {
  font-family: "Myriad Pro";
  font-size: 20px;
  color: #ffffff;
  width: 75%;
  text-align: center;
}
.reviews .content .sign {
  font-family: "Myriad Pro";
  font-size: 16px;
  color: #ffffff;
}
.reviews .content .comma {
  position: absolute;
  left: 5%;
  top: 30%;
}
.reservation {
  width: 100%;
  height: 710px;
  background: url("images/reservation.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.reservation .image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.reservation .image-container img {
  width: 80%;
  margin-left: 10px;
  margin-right: 10px;
}
.reservation .form-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  width: 30%;
  height: 75%;
}
.reservation .form-container .title {
  font-family: "YesevaOne";
  font-size: 36px;
  color: #cc9900;
  margin-bottom: 0px;
}
.reservation .form-container .divider {
  margin-bottom: 20px;
}
.reservation .form-container .description {
  font-family: "Myriad Pro";
  font-size: 16px;
  color: black;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}
.reservation .form-container .field-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.reservation .form-container .field-container .block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin-top: 25px;
}
.reservation .form-container .field-container .block .field {
  position: relative;
  width: 45%;
}
.reservation .form-container .field-container .block .field label {
  font-family: "YesevaOne";
  font-size: 14px;
  color: #cc9900;
  position: absolute;
  left: 0%;
  top: 0%;
}
.reservation .form-container .field-container .block .field input {
  display: inline-block;
  width: 100%;
  height: 35px;
  border: 1px solid #cc9900;
  font-style: italic;
}
.reservation .form-container .field-container #submit {
  display: inline-block;
  width: 200px;
  height: 35px;
  margin-top: 25px;
  color: white;
  background: #cc9900;
  border: none;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding-top: 5%;
  height: 300px;
  background: #000000;
}
.footer .block {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  width: 30%;
}
.footer .block .title {
  font-family: "YesevaOne";
  font-size: 21px;
  color: white;
  margin: 0px;
}
.footer .block p {
  font-family: "Myriad Pro";
  font-size: 16px;
  color: white;
  text-align: center;
  width: 70%;
  margin: 0px;
}
.footer .block .special {
  font-family: "Myriad Pro";
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.footer .block img {
  margin-top: 20px;
  margin-bottom: 20px;
}
